[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden!important;
    max-height: inherit;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

[data-simplebar] .simplebar-scroll-content,
[data-simplebar] .simplebar-content {
    overflow: hidden;
}

[data-simplebar="init"] .simplebar-scroll-content,
[data-simplebar="init"] .simplebar-content {
    overflow: scroll;
}

.simplebar-scroll-content {
    overflow-x: hidden!important;
    min-width: 100%!important;
    max-height: inherit!important;
    -webkit-box-sizing: content-box!important;
            box-sizing: content-box!important;
}

.simplebar-content {
    overflow-y: hidden!important;
    -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
    min-height: 100%!important;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
    pointer-events: none;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 7px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: "";
    background: black;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.simplebar-track:hover .simplebar-scrollbar:before,
.simplebar-track .simplebar-scrollbar.visible:before {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
}

.simplebar-track.vertical {
    top: 0;
}

.simplebar-track.vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}

.simplebar-track.horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}

/* Rtl support */
[data-simplebar-direction="rtl"] .simplebar-track {
    right: auto;
    left: 0;
}

[data-simplebar-direction="rtl"] .simplebar-track.horizontal {
    right: 0;
}.ball-container {
  position: absolute !important;
  z-index: 1 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ball {
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 100%;
  opacity: 0.6;
}

body {
  padding: 0;
}

body #main-body {
  padding-top: 56px;
}

body .max-display {
  height: 100vh;
  width: 100vw;
}

body .all-childs-relative .jumbotron * {
  position: relative;
  z-index: 2;
}

body .bg-rgba-white-90 {
  background: rgba(255, 255, 255, 0.9);
}

body .bg-rgba-white-70 {
  background: rgba(255, 255, 255, 0.7);
}

body .bg-rgba-white-50 {
  background: rgba(255, 255, 255, 0.5);
}

body .vert-scroll {
  overflow-y: scroll;
}

body .text-minimal {
  color: #aaa !important;
}

body .navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body .avatar-img {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

body .avatar-img.small {
  height: 100px;
  width: 100px;
}

body .avatar-img.extra-small {
  height: 50px;
  width: 50px;
}

body .wh-35 {
  height: 35px;
  width: 35px;
}

body .cover-container {
  width: 100%;
  position: relative;
}

body .cover-container .cover-img {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  top: -24px;
  position: absolute;
}

body .avatar-container {
  margin-top: 310px;
  margin-left: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .profile-body-container {
  overflow: hidden;
  position: relative;
}

body .profile-body-container .profile-preview-side {
  width: 100%;
}

body .profile-body-container .profile-settings-side {
  width: 0;
}

body .profile-body-container .profile-settings-side .settings.whileHidden {
  position: absolute;
  width: 75%;
}

body .message-time {
  font-size: 10px;
}

body .message-profile-pic {
  width: 30px;
  height: 30px;
}

body .friends-profile-img {
  width: 50px;
  height: 50px;
}

body .profile-pic {
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 0px 1px #dee2e6;
          box-shadow: 0px 0px 0px 1px #dee2e6;
}

body footer {
  position: relative;
}

body footer:after {
  content: "";
  background-image: url("/images/walls/b3.jpg");
  background-size: cover;
  background-position: bottom;
  opacity: .5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

