
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Simplebar
@import '~simplebar/dist/simplebar.css';

body {
    padding: 0;
    .max-display {
        height: 100vh;
        width: 100vw;
    }
    .vert-scroll {
        overflow-y: scroll;
    }
    .navbar-laravel {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
    footer {
        position: relative;

        &:after {
            content: "";

            background-image: url('/images/walls/b3.jpg');
            background-size: cover;
            background-position: center;
            opacity: .3;

            position: absolute;
            z-index: -1;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
