
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Simplebar
@import '~simplebar/dist/simplebar.css';

body {
    padding: 0;
    #main-body {
        padding-top: 56px;
    }
    .max-display {
        height: 100vh;
        width: 100vw;
    }
    .vert-scroll {
        overflow-y: scroll;
    }
    .text-minimal {
        color: #aaa !important;
    }
    .navbar-laravel {
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
    .avatar-img {
        background-size: cover;
        background-position: center;

        width: 200px;
        height: 200px;

        &.small {
            height: 100px;
            width: 100px;
        }
        &.extra-small {
            height: 50px;
            width: 50px;
        }
    }
    .wh-35 {
        height: 35px;
        width: 35px;
    }
    .cover-container {
        width: 100%;
        position: relative;

        .cover-img {
            background-size: cover;
            background-position: center;    
            background-attachment: fixed;
            height: 500px;
            width: 100%;
            top: -24px;
            position: absolute;
        }
    }
    .avatar-container {
        margin-top: 310px;
        margin-left: 50px;
        align-items: flex-end;

    }
    .profile-body-container {
        overflow: hidden;
        position: relative; 
        .profile-preview-side {
            width: 100%;
        }
        .profile-settings-side {
            width: 0;
            .settings {
                &.whileHidden {
                    position: absolute;
                    width: 75%;
                }
            }
        }
    }
    .message-time {
        font-size: 10px;
    }

    .message-profile-pic {
        width: 30px;
        height: 30px;
    }
    .friends-profile-img {
        width: 50px;
        height: 50px;
    }
    .profile-pic {
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 0px 1px #dee2e6;
    }
    footer {
        position: relative;

        &:after {
            content: "";

            background-image: url('/images/walls/b3.jpg');
            background-size: cover;
            background-position: bottom;
            opacity: .3;

            position: absolute;
            z-index: -1;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
